<!DOCTYPE html>
<html lang="en">


<div class="header">
    Here are your results!
</div>


{{>map}}

<div class="col-md-6">
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{parks.[0].name}}</h5>
            <p class="Address">{{parks.[0].address}}</p>
            <a href="#" class="btn btn-primary" id="park-btn" data-lat="{{parks.[0].latitude}}" data-lng="{{parks.[0].longitude}}">show on map</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{parks.[1].name}}</h5>
            <p class="Address">{{parks.[1].address}}</p>
            <a href="#" class="btn btn-primary" id="park-btn" data-lat="{{parks.[1].latitude}}" data-lng="{{parks.[1].longitude}}">show on map</a>
        </div>
    </div>

{{!-- </div>
<div class="col-md-6">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
ksdnsss --}}



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>



</html>
