<!DOCTYPE html>
<html lang="en">

<head>
    <title>Results</title>
    <script src="handlebars-v4.7.7.js"></script>
</head>

<style>
    .header {
        text-align: center;
        font-size: 35px;
    }
</style>

<p>Hello {{name}} you selected {{sportsTypes}} here are all the nearby parks with these amenities available</p>

 {{> map}}

<div class="col-md-6">

    <div class="card" style="width: 18rem;">
        <img src="/assets/photos/Star Trails.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p class="card-text">{{results-data}}</p>
            <a href="#" class="btn btn-primary">Directions</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/photos/Star Trails.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p class="card-text">{{results-data}}</p>
            <a href="#" class="btn btn-primary">Directions</a>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card" style="width: 18rem;">
        <img src="/assets/photos/Star Trails.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p class="card-text">{{results-data}}</p>
            <a href="#" class="btn btn-primary">Directions</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/photos/Star Trails.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p class="card-text">{{results-data}}</p>
            <a href="#" class="btn btn-primary">Directions</a>
        </div>
    </div>
</div>

<div id="results-data"></div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{parks.[0].name}}</h5>
            <p class="Address">{{parks.[0].address}}</p>
            <a href="#" class="btn btn-primary" id="park-btn" data-lat="{{parks.[0].latitude}}" data-lng="{{parks.[0].longitude}}">show on map</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{parks.[1].name}}</h5>
            <p class="Address">{{parks.[1].address}}</p>
            <a href="#" class="btn btn-primary" id="park-btn" data-lat="{{parks.[1].latitude}}" data-lng="{{parks.[1].longitude}}">show on map</a>
        </div>
    </div>



</html>
